
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Fredoka%20One:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
    rel="stylesheet">
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>

    <video autoplay muted loop id="myVideo">
    <source src="/videos/vid.mp4" type="video/mp4">
    </video>
    <div class="content">

        <h1>Welcome to HACK 2020</h1>
        <a href="/regform" class="button button--nanuk button--inverted">
            <span>E</span><span>v</span><span>e</span><span>n</span><span>t</span><span> </span> <span>R</span><span>e</span><span>g</span><span>i</span><span>s</span><span>t</span><span>e</span><span>r</span>
        </a>
        <br><br>
        <a href="/panellogin" class="button button--nanuk  button--inverted">
            <span>A</span><span>d</span><span>m</span><span>i</span><span>n</span> <span>p</span><span>a</span><span>n</span><span>e</span><span>l</span>
        </a>

    </div>


</body>
</html>
